<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Search Page</title>
    </head>
    <body>
        <h1>Enter the Location and Description.</h1>
        <form action="/jobs" method="POST">
            <input
                class="form-control"
                type="text"
                name="loc"
                placeholder="Enter the location"
            />
            <input
                class="form-control"
                type="text"
                name="desc"
                placeholder="Enter the Description"
            />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
